{% extends "base.html" %}

{% load user_tags %}

{% block layout %}
{% if object_list %}
<table class="table table-bordered table-hover">
	<thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Eligible</th>
        <th>Random Number</th>
        <th>BizzFuzz</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
	    {% for user in object_list %}
	    <tr>
	    	<td>{{ user.first_name }} {{ user.last_name }}</td>
	    	<td>{{ user.email }}</td>
	    	<td>{{ user.birthday }}</td>
	    	<td>{% display_eligible user.birthday %}</td>
		    <td>{{ user.random_number }}</td>
		    <td>{% display_bizzfuzz user.random_number %}</td>
		    <td class="actions">
		    	<a href="{% url "user_detail" user.id %}" class="btn btn-primary btn-xs">View</a>
		    	<a href="{% url "user_edit" user.id %}" class="btn btn-default btn-xs">Edit</a>
		    	<a href="{% url "user_delete" user.id %}" id="{{ user.id }}" data-toggle="modal" data-target="#myDeleteModal" data-id="{{ user.id }}" class="btn btn-danger btn-xs delete">Delete</a>
        </td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endif %}

{% include "users/modal/confirm_delete.html" %}

<a href="{% url "user_new" %}" class="btn btn-primary btn-md">New User</a>
{% if object_list %}
<a href="{% url "download_list" %}" class="btn btn-default btn-md" download>Download</a>
{% endif %}

{% endblock %}
